.register-container {
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
	min-height: 650px;
	min-width: 520px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	h1 {
		margin-bottom: 30px;
		color: #58a6ff;
		font-size: 48px;
	}

	form {
		display: flex;
		flex-direction: column;
	}

	input {
		border-radius: 4px;
		box-sizing: border-box;
		width: 420px;
		height: 55px;
		border: 1px solid #a9a9a9;
		outline: none;
		font-size: 1.2em;
		padding: 16px 26px;
		margin-bottom: 30px;
		transition: all 0.1s ease-in;
		color: black;

		&::selection {
			background: #58a6ffc4;
		}

		&:focus {
			border-color: #58a6ffc4;
		}
	}

	button {
		border-radius: 5px;
		cursor: pointer;
		width: 420px;
		height: 50px;
		font-size: 20px;
		font-weight: bold;
		padding: 10px 12px;
		background: #58a6ffc4;
		border: none;
		outline: none;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.05s ease-in;

		&::selection {
			background: #58a6ffc4;
		}

		@media (hover: hover) {
			&:hover {
				background: #58a6ff;
			}
		}
		&:active {
			opacity: 0.8;
		}
	}

	.errors {
		margin-bottom: 15px;
		color: red;
		text-align: center;

		&::selection {
			background: #58a6ffc4;
		}
	}

	.register-link {
		margin-top: 15px;
		color: #58a6ff;
		font-size: 1.2em;
		font-weight: 300;
		width: fit-content;
		padding: 0;

		&-question{
			display: inline-block;
			color: #a9a9a9;
		}
		&-answer{
			display: inline-block;
			text-decoration: underline;
		}
	}
}
