.login-container {
  margin: 0 auto;
  width: 1024px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 30px;

    &::selection {
      background: #29aa44;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
  }

  .login-btn {
    border-radius: 15px;
    cursor: pointer;
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background: #29aa44;
    border: none;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.05s ease-in;

    &::selection {
      background: #2c3e50;
    }

    @media (hover: hover) {
      &:hover {
        background: #21b941;
      }
    }
    &:active {
      opacity: 0.8;
    }
  }

  .login-errors {
    margin-bottom: 15px;
    color: red;
    text-align: center;

    &::selection {
      background: #29aa44;
    }
  }

  .register-link {
    color: #21b941;
    font-size: 1.2em;
    width: fit-content;
    padding: 0;
    margin-top: 20px;

    &:hover {
      text-decoration: underline;
    }

    &::selection {
      background: #29aa44;
      color: white;
    }
  }

  .separator {
    margin-top: 30px;

    &::selection {
      background: #29aa44;
    }
  }

  .login-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .login-service {
      margin-bottom: 20px;

      .login-service-icon {
        width: 30px;
        height: 30px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
